<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../stylesheets/login.css">
<body>
    <!-- Background -->
<div id="gradient-bg">
    <div calss="gradient-container">
        <div class="gradient1"></div>
        <div class="gradient2"></div>
        <div class="gradient3"></div>
        <div class="gradient4"></div>
        <div class="gradient5"></div>
    </div>
</div>

<!-- Form -->
<div id="form-container">
<h1 class="title">Sign in</h1>
<form action="/login" method="post"> 
        <div class="label">Username</div>
        <input type="text" name="username"/>
        <div class="label"   >Password</div>
        <input type="password" name="password"/>
        <button class="submit" type="submit">Sign in</button>
        <div class="label msg">◆ You don't have an account? <a href="#">Sign up</a></div>
    </form>
</div>



    
</body>
</html>