<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


     
             
         
      
            <!--                <div class ="search">
                          <input type="search" class="search-bar" placeholder="Search..." style="font-weight:600;font-size:15px">
                          <i class="fa fa-search search-icon"></i>
                      </div>-->
           
            <form action="/profile-update">
               
                <input type="text" value="username" name="username">
        <input type="email" value="email" name="email">
        <button type="submit">Submit</button>
              
             
              
            </form>
        
      
      <!-- http://www.smashingmagazine.com/2013/08/08/release-livestyle-css-live-reload/ -->

</body>
</html>